.input img {
  width: 20px;
  margin-right: 10px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: rgb(255, 255, 255); */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

}
.login-container img{
  size: 10px;
}
.form-section {
  background: white; 
  padding: 2rem; 
  border-radius: 8px; 
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Shadow for a subtle 3D effect */
  width: 100%;
  max-width: 400px; 
  border-color: aliceblue;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff; 
}

.underline {
  width: 60px;
  height: 3px;
  background: #333;
  margin: 0.5rem auto;
}


.username, .password {
  margin-top: 1rem;
  font-weight: bold;
  color: #1a1919; 
}

.inputs .input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #ffffff; 
  border-radius: 4px; 
  padding: 0.5rem;
}

.inputs .input img {
  margin-right: 0.5rem;
}

.inputs .input input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
}

.submitcontainer1 {
  text-align: center;
}

.submit1 {
  background-color:#5e7292;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.submit1:hover {
  background-color: #0056b3; 
}

.forgot-password {
  text-align: center;
  margin-top: 1rem;
}

.forgot-password a {
  color: #007bff; 
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline; 
}
