  .pet-card {
    position: relative;
    border: 1px solid #ccc;
    padding: 1rem;
    width: 21dvw;
    box-sizing: border-box;
    border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  }
  
  .contact-info {
    background-color: #f0f0f0e7;
    color: rgb(246, 10, 10);
    border-style: double;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .contactbutton{
    width:100%;
    display: flex;
    justify-content: center;
  }
  .contact-info:hover {
    background-color: #8ba4bf;
  }
  /* .petcard-header {
    position: absolute;
    top: 10px;
    left: 10px;
  } */

.petcard-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.petwishlist-button {
  background-color: grey;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
  padding: 0%;
  width: 2rem;
  margin-left: 280px;
  margin-top: 4px;
}

.petwishlist-button.active {
  color: red;
}
.pet-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block; /* Ensures no extra space below the image */
  border: 1px solid #7b7474; 
}

h3 {
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

