footer {
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  width: 100dvw;
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
  padding: 40px 0;
}

footer .container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 4fr 3fr;
  grid-gap: 30px;
  max-width: 1300px;
  /* margin: 0 auto; */
  /* padding: 0 30px; */
}

@media screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.box-logo {
  display: flex;
  flex-direction: column;
}

.box-logo h1 {
  margin: 0;
  font-size: 28px;
  color: white;
}

.box-logo p {
  margin: 20px 0;
  font-size: 16px;
  color: white;

}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  background-color: #1eb2a6;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}

.box {
  display: flex;
  flex-direction: column;
}

.box h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  color: white;

}

.box ul {
  list-style: none;
  padding: 0;
}

.box ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: white;

}

.link ul li a {
  text-decoration: none;
}

.box ul li::before {
  content: "⟶";
  color: #1eb2a6;
  margin-right: 5px;
}

.last ul {
  padding: 0;
}

.last ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.last i {
  font-size: 20px;
  color: #1eb2a6;
  margin-right: 10px;
}

.legal {
  text-align: center;
  padding: 20px 0;
  color: grey;
  background-color: #e9e9e9;
}

.legal p {
  font-size: 15px;
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow: auto; /* This makes sure the main content area takes up the remaining space */
}