.product-detail {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height:80dvh;
}

.product-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 100%;
  height: auto;
  margin-top: 400px;
}

.product-info {
  flex: 2;
  padding: 20px;
}

.product-description {
  margin: 20px 0;
}

.product-rating {
  font-size: 1.2em;
  color: #ffcc00; /* Star color */
}

.product-price {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.add-to-cart {
  background-color: #007bff;
}

.buy-now {
  background-color: #28a745;
  margin-left: 20px;
}

.customer-reviews {
  margin-top: 20px;
}

.review {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
